* {
    padding: 0;
    margin: 0;
}

root {}

.action,
.arco-comment,
.arco-comment-content {
    /* background: white; */
    /* color: white !important; */

    color-scheme: dark;
}

.arco-tabs {
    height: 100% !important;
    display: flex;
    flex-direction: column;


}

.arco-tabs-content {
    flex: 1;
}

.arco-tabs-pane,
.arco-tabs-content-list {
    height: 100%;
}

#code-editor {}

tr:nth-child(2n) {
    background-color: #2A2A2A;
}

table {
    border: none;
}

.language-import {}


@font-face {
    font-family: MyCustomFont;
    src: url('../font/one.ttf');

}

@font-face {
    font-family: MyCustomFonts;
    src: url('../font/two.ttf');

}

@font-face {
    font-family: MyserverFonts;
    src: url('../font/server.ttf');

}



/* 代码块样式 */
.language-import {

    line-height: 30px;

}

.markdown-body {

    line-height: 30px;
    margin: 1em auto;

    font-family: 'MyCustomFont', sans-serif;



    &>p {
        line-height: 30px;
    }

    & code {
        line-height: 30px;
    }

    &>pre {
        line-height: 30px;
    }

    &>li {
        line-height: 25px;
    }
}

/* 黑夜 */

body[arco-theme="dark"] {
    --home-back: #1A1A1A;
    --home-back-from: #292F2F;
    --home-color: #fff;

    --but-back: #2C2C2C;
    --border: #fff;
    --pr-back: #1D2527;
}

/* 白天 */

body {
    --home-back: #fff;
    --home-color: #000;
    --but-back: #E5E6EB;
    --border: #000;
    --pr-back: #fff;
}

.arco-comment-content,
.arco-comment-author,
.arco-comment-datetime,
.action,
.arco-card-body {


    color: var(--home-color) !important;

}

.arco-card-body,
.arco-card-header-title,
.arco-card-header,
.arco-card {
    background: var(--home-back) !important;
}

.arco-btn-primary {
    background: var(--but-back) !important;
    color: var(--home-color) !important;
}